<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="WCFServiceBus.Services.HelloManager">
        <endpoint address="net.tcp://localhost:8090"
                  binding="netTcpBinding"
                  contract="WCFServiceBus.Contracts.IHelloService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>